base_temp.json
{
  "name": "base_temp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a06f6f8c-f8f3-43bf-9435-4a12c87334c7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1760,
        432
      ],
      "id": "d21e0b36-979e-47fc-9895-275e8c4e5d06",
      "name": "Webhook",
      "webhookId": "a06f6f8c-f8f3-43bf-9435-4a12c87334c7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Datos Chatwoot').first().json.chatwoot_host }}/api/v1/accounts/{{ $('Datos Chatwoot').first().json.chatwoot_account_number }}/conversations/{{ $('Webhook').first().json.body.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Datos Chatwoot').first().json.chatwoot_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $json.content.replace(/[\\n\\r\\t]/g, ' ').replace(/[\\\"'\\\\]/g, '').replace(/[^\\x20-\\x7E\\u00A0-\\u00FF]/g, '') }}\",\n  \"message_type\": \"outgoing\",\n  \"content_type\": \"text\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2896,
        160
      ],
      "id": "a7b58bfd-5d62-4896-bb51-5b4d9291aad5",
      "name": "Enviar Mensaje de Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2d922f4-d055-4bf8-8e46-c744767c180d",
              "name": "chatwoot_host",
              "value": "",
              "type": "string"
            },
            {
              "id": "f3299522-7de5-48b5-adc1-680c480cf844",
              "name": "chatwoot_account_number",
              "value": "",
              "type": "string"
            },
            {
              "id": "8033ecb1-a3fd-489e-bbce-9fae63c4ed0d",
              "name": "chatwoot_token",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        432
      ],
      "id": "aaad07b9-9507-4ff5-86d1-041ba7dc0133",
      "name": "Datos Chatwoot"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userInput }}",
        "options": {
          "systemMessage": "=#Rol\n\n\n#Notas\n- Usa `\\n\\n` para separar bloques grandes de texto o cuando finalices con una pregunta o url."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1344,
        144
      ],
      "id": "b7832dbf-0e7c-4c59-8c07-f67c8341c11a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        1248,
        416
      ],
      "id": "45ec3ced-ee8b-47ed-af6f-340356357ef6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bpiA2tnKehC2qv7o",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.messages[0].sender.phone_number }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1408,
        416
      ],
      "id": "99d99e42-7739-4640-9adb-47b92f513686",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe9ad87e-5b34-4c8f-bddf-65687cdd1d46",
              "leftValue": "={{ $('Webhook').item.json.body.messages[0].attachments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        448
      ],
      "id": "21dbd26f-e7a3-4175-82a4-9f91faaf45ef",
      "name": "tiene archivos?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.messages[0].attachments[0].file_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ab976c76-c548-4063-86cc-c3a7eeb2c588"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "446266a9-af59-4f69-92e9-fdd35dd949b8",
                    "leftValue": "={{ $('Webhook').item.json.body.messages[0].attachments[0].file_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "60a172df-eb81-4f3f-92e4-efd156862041",
                    "leftValue": "={{ $('Webhook').item.json.body.messages[0].attachments[0].file_type }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "File"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -304,
        176
      ],
      "id": "42790119-f3b5-46ca-8e98-fb9c970af645",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        272,
        -96
      ],
      "id": "a91670bb-db56-45e5-87a8-ed9e1a06d55d",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "bpiA2tnKehC2qv7o",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.messages[0].attachments[0].data_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        -96
      ],
      "id": "db288f90-657f-492e-ae89-2c607c000f00",
      "name": "descargar audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d65b3c45-fc9f-4e5f-9592-cfdcb9897625",
              "name": "userInput",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -96
      ],
      "id": "728131e9-8868-4e3f-aee4-d2c16f5a9bac",
      "name": "Salida General"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d65b3c45-fc9f-4e5f-9592-cfdcb9897625",
              "name": "userInput",
              "value": "=User input:\nMensaje incluido en la imagen: {{ $('Webhook').item.json.body.messages[0].content }}\nURL de la imagen: {{ $('Webhook').item.json.body.messages[0].attachments[0].data_url }}\nDescripción de la imagen (generada internamente por OpenAI): {{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        176
      ],
      "id": "daa5ff3a-f6a3-428b-a55b-1ef19ab95947",
      "name": "Salida General1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d65b3c45-fc9f-4e5f-9592-cfdcb9897625",
              "name": "userInput",
              "value": "={{ $('Webhook').item.json.body.messages[0].content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        448
      ],
      "id": "8dd42881-a3de-4090-856c-fd370129982a",
      "name": "Salida General2"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Describe la imagen de manera breve",
        "imageUrls": "={{ $('Webhook').item.json.body.messages[0].attachments[0].data_url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        288,
        176
      ],
      "id": "d3db4390-7232-47e8-8060-bca51ae5b26f",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "bpiA2tnKehC2qv7o",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function processItems(items) {\n    const MAX_MESSAGES = 3; // Máximo de mensajes permitidos\n    const MIN_LENGTH = 50; // Longitud mínima para considerar un fragmento como mensaje independiente\n\n    return items.map(item => {\n        const generatedText = item.json.output.trim(); // Limpia espacios innecesarios\n        let chunks = [generatedText];\n\n        // Normaliza saltos de línea y divide en fragmentos\n        if (generatedText.includes('\\n\\n')) {\n            chunks = generatedText.replace(/\\n{3,}/g, '\\n\\n').split('\\n\\n');\n        }\n\n        // Filtra fragmentos vacíos\n        chunks = chunks.filter(chunk => chunk.trim() !== '');\n\n        let processedChunks = [];\n        let messageCount = 0;\n        let buffer = \"\";\n\n        for (let chunk of chunks) {\n            chunk = chunk.trim();\n\n            // Permitir URLs e imágenes como excepción\n            if (chunk.match(/\\.(png|jpg|jpeg)$/i) || chunk.startsWith(\"http\")) {\n                processedChunks.push({ type: \"text\", content: chunk });\n                continue; // No afecta el límite de mensajes\n            }\n\n            // Si el fragmento es muy corto, agrégalo al buffer en lugar de separarlo\n            if (chunk.length < MIN_LENGTH && !chunk.endsWith(\"?\")) {\n                buffer += (buffer ? \" \" : \"\") + chunk;\n                continue;\n            }\n\n            // Si hay contenido en buffer, agrégalo al último mensaje\n            if (buffer) {\n                if (processedChunks.length > 0) {\n                    processedChunks[processedChunks.length - 1].content += \" \" + buffer;\n                } else {\n                    processedChunks.push({ type: \"text\", content: buffer });\n                }\n                buffer = \"\"; // Reiniciar buffer\n            }\n\n            // Si el fragmento termina en '?', forzar un nuevo mensaje\n            if (chunk.endsWith(\"?\")) {\n                processedChunks.push({ type: \"text\", content: chunk });\n                continue;\n            }\n\n            // Si aún no hemos alcanzado MAX_MESSAGES, agregamos como mensaje separado\n            if (messageCount < MAX_MESSAGES - 1) {\n                processedChunks.push({ type: \"text\", content: chunk });\n                messageCount++;\n            } else {\n                // Si ya se alcanzó MAX_MESSAGES, fusionamos el resto en el último mensaje\n                if (processedChunks.length > 0) {\n                    processedChunks[processedChunks.length - 1].content += \"\\n\\n\" + chunk;\n                } else {\n                    buffer += (buffer ? \"\\n\\n\" : \"\") + chunk;\n                }\n            }\n        }\n\n        // Si quedó algo en buffer, lo añadimos al último mensaje\n        if (buffer) {\n            if (processedChunks.length > 0) {\n                processedChunks[processedChunks.length - 1].content += \"\\n\\n\" + buffer;\n            } else {\n                processedChunks.push({ type: \"text\", content: buffer });\n            }\n        }\n\n        // Asegurar que el número total de mensajes sea máximo MAX_MESSAGES\n        while (processedChunks.length > MAX_MESSAGES) {\n            let extraChunk = processedChunks.pop();\n            processedChunks[processedChunks.length - 1].content += \"\\n\\n\" + extraChunk.content;\n        }\n\n        return {\n            json: {\n                processedOutput: processedChunks\n            }\n        };\n    });\n}\n\nreturn processItems(items);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        144
      ],
      "id": "39361c7c-6370-4ff4-ad94-d917facad366",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89c7b967-486d-4b39-838f-f4f0b7c0f7f6",
              "name": "lista_de_salida",
              "value": "={{ $json.processedOutput }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        144
      ],
      "id": "dea8397f-07cb-4c0b-b2ae-04f5c5aee378",
      "name": "lista de salida"
    },
    {
      "parameters": {
        "fieldToSplitOut": "lista_de_salida",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2256,
        144
      ],
      "id": "7b2b1385-ccc2-4826-b4f4-f09e5563b842",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2576,
        144
      ],
      "id": "b3109e30-ce95-43eb-8209-e4031908e552",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3120,
        160
      ],
      "id": "bc4b3c7b-5b60-480d-9c5c-e94d61c6a9b6",
      "name": "Wait",
      "webhookId": "2371168b-d14e-4828-87f6-a9bb2ad65b0c"
    },
    {
      "parameters": {
        "url": "={{ $json.chatwoot_host }}/api/v1/accounts/{{ $json.chatwoot_account_number }}/conversations/{{ $('Webhook').item.json.body.id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1264,
        432
      ],
      "id": "f247fdc6-1090-4330-8d9e-e0c4a6cd5278",
      "name": "Obtener etiquetas de la conversación"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "795ffc2b-d787-40c0-beed-84adaafbe84d",
              "leftValue": "={{ $json.payload.includes('desactivar-chatbot') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        432
      ],
      "id": "42a8f5ac-f7c2-4933-8a20-49f6159b9379",
      "name": "chatbot desactivado?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -816,
        112
      ],
      "id": "30d9d61b-9420-4b46-a122-0846d5142d9d",
      "name": "No Operation, do nothing1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookapp.frontierai.lat",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
            "content-length": "3428",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "10.0.0.2",
            "x-forwarded-host": "n8nwebhookapp.frontierai.lat",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "40e001c7ad5f",
            "x-real-ip": "10.0.0.2"
          },
          "params": {},
          "query": {},
          "body": {
            "additional_attributes": {},
            "can_reply": true,
            "channel": "Channel::Api",
            "contact_inbox": {
              "id": 36,
              "contact_id": 20,
              "inbox_id": 5,
              "source_id": "68c90ecb-385a-48ea-b30f-a74d4acabf70",
              "created_at": "2025-07-30T21:30:00.794Z",
              "updated_at": "2025-07-30T21:30:00.794Z",
              "hmac_verified": false,
              "pubsub_token": "23ZxbcGYRh7CS6XqPERaCWtU"
            },
            "id": 7,
            "inbox_id": 5,
            "messages": [
              {
                "id": 1221,
                "content": "aqui ta",
                "account_id": 1,
                "inbox_id": 5,
                "conversation_id": 7,
                "message_type": 0,
                "created_at": 1754009634,
                "updated_at": "2025-08-01T00:53:54.650Z",
                "private": false,
                "status": "sent",
                "source_id": "WAID:3EB051012F555AC73F5EDB",
                "content_type": "text",
                "content_attributes": {},
                "sender_type": "Contact",
                "sender_id": 20,
                "external_source_ids": {},
                "additional_attributes": {},
                "processed_message_content": "aqui ta",
                "sentiment": {},
                "conversation": {
                  "assignee_id": null,
                  "unread_count": 1,
                  "last_activity_at": 1754009634,
                  "contact_inbox": {
                    "source_id": "68c90ecb-385a-48ea-b30f-a74d4acabf70"
                  }
                },
                "attachments": [
                  {
                    "id": 88,
                    "message_id": 1221,
                    "file_type": "image",
                    "account_id": 1,
                    "extension": null,
                    "data_url": "https://chatwootapp.frontierai.lat/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBWHc9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--5b2dda7e909b31f210b5d11be80592a6d5c161e1/sxralg.jpeg",
                    "thumb_url": "https://chatwootapp.frontierai.lat/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBWHc9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--5b2dda7e909b31f210b5d11be80592a6d5c161e1/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--357e4312544c25bf629a53932c0c0e36967ef11d/sxralg.jpeg",
                    "file_size": 179946,
                    "width": null,
                    "height": null
                  }
                ],
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": null,
                  "id": 20,
                  "identifier": "51920666718@s.whatsapp.net",
                  "name": "Michael",
                  "phone_number": "+51920666718",
                  "thumbnail": "https://chatwootapp.frontierai.lat/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBUZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--48c30dad39fb08c3b585e80e06298f844d648ac9/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d20e4d7a9afb6de5271b65b3b0364996a3f4da7b/473399408_609652718489631_6689702555790286275_n.jpg",
                  "type": "contact"
                }
              }
            ],
            "labels": [],
            "meta": {
              "sender": {
                "additional_attributes": {},
                "custom_attributes": {},
                "email": null,
                "id": 20,
                "identifier": "51920666718@s.whatsapp.net",
                "name": "Michael",
                "phone_number": "+51920666718",
                "thumbnail": "https://chatwootapp.frontierai.lat/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBUZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--48c30dad39fb08c3b585e80e06298f844d648ac9/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d20e4d7a9afb6de5271b65b3b0364996a3f4da7b/473399408_609652718489631_6689702555790286275_n.jpg",
                "type": "contact"
              },
              "assignee": null,
              "team": null,
              "hmac_verified": false
            },
            "status": "open",
            "custom_attributes": {},
            "snoozed_until": null,
            "unread_count": 1,
            "first_reply_created_at": null,
            "priority": null,
            "waiting_since": 0,
            "agent_last_seen_at": 1754009617,
            "contact_last_seen_at": 1754009617,
            "last_activity_at": 1754009634,
            "timestamp": 1754009634,
            "created_at": 1753911000,
            "event": "automation_event.message_created"
          },
          "webhookUrl": "https://n8nwebhookapp.frontierai.lat/webhook/a06f6f8c-f8f3-43bf-9435-4a12c87334c7",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Datos Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensaje de Texto": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos Chatwoot": {
      "main": [
        [
          {
            "node": "Obtener etiquetas de la conversación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "tiene archivos?": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salida General2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "descargar audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "descargar audio": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Salida General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salida General": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salida General1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salida General2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Salida General1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "lista de salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lista de salida": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Enviar Mensaje de Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener etiquetas de la conversación": {
      "main": [
        [
          {
            "node": "chatbot desactivado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatbot desactivado?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tiene archivos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "258d7262-71e7-4fce-a4f0-cda2fbb913e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e90ea13b829bbed83cbf4787719624af4fdeea0feb562098b80751c67ed7fba9"
  },
  "id": "4tLeEM2kBOy95tL3",
  "tags": []
}